# Scraping the All Time RWC records

In this project I will be scraping the All Time RWC records from wikipedia. This is a complete list of total matches played by all countries that were invited or have qualified for the Rugby World Cup since the 1987 edition. The data itself came from the StatsHub of the 2015 RWC website. 

This all-time table compares national teams that have participated in the Rugby World Cup by a number of criteria including matches, wins, losses, draws, total points for, total points against, etc.

This project is part of a larger project of mine to collect, combine, clean, analyse, and visualize data relevant to #RWC2023.

First, I make sure that my scraper is working and I print the entire html file.

In [50]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

URL ='https://en.wikipedia.org/wiki/Rugby_World_Cup_all-time_table'
response = requests.get(URL)
soup = BeautifulSoup(response.text,'html.parser')

Next, using the Mozilla inspector, I isolated and found where the data is stored, in a table of class "wikitable sortable". I isolate it using the soup.find() method. I essentially "sliced" the HTML to isolate the table.

In [49]:
table = soup.find('table', {'class':'wikitable sortable'}).tbody

Now, I to put it simply, I see that all rows, start with 'tr', and all of my columns start with 'th'. I isolate these; the columns variable will also serve as an index later. I also take the opportunity to do a little cleaning and get rid of the '\n'.

In [40]:
rows = table.find_all('tr')
columns = [i.text.replace('\n', '') for i in rows[0].find_all('th')]

print(columns)

['Country', 'Pld', 'W', 'D', 'L', 'PF', 'PA', 'PD', '%', 'TB', 'LB', 'Pts', 'Avgpts', 'Best finish']

The index looks just as it should. From here, my goal is to populate a dataframe with the values in the "rows" variable, and using the "columns" index  and columns I just created.

The for loop:
- Goes through all of the rows and takes the values stored in 'td'.
- Populates the dataframe using those values and also replaces some of the ~rogue~ strings along the way.

In [38]:
df = pd.DataFrame(columns=columns)

for i in range(1,len(rows)):
    tds = rows[i].find_all('td')
    values = [td.text.replace('\n','').replace('\xa0','').replace('â€”','0') for td in tds]
    
    df = df.append(pd.Series(values, index=columns), ignore_index=True)

Let's see if this worked.

In [44]:
df.head()

,Country,Pld,W,D,L,PF,PA,PD,%,TB,LB,Pts,Avgpts,Best finish
0,South Africa,43,36,0,7,"1,512",553,+959,83.72,14,2,128,3.20,Winner
1,New Zealand,56,49,0,7,"2,552",753,"+1,799",87.50,15,1,169,3.13,Winner
2,Australia,53,42,0,11,"1,794",763,"+1,031",79.25,11,3,145,2.84,Winner
3,England,48,34,1,13,"1,511",685,+826,71.88,10,1,127,2.65,Winner
4,France,52,36,2,14,"1,605",937,+668,71.15,10,2,129,2.48,Runner-up

Looks just as it should!
Finally, I export the dataframe to a csv file. This csv file can be found in the repo.

In [36]:
df.to_csv(r'C:\Users\lacar\DQ Projects\Rugby DataVis' + '\\alltimeRWCrecords.csv', index=False)